name: destroy-infra-prod

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  TF_VERSION: "1.6.6"
  TF_LOG: "DEBUG"
  TF_LOG_PATH: "terraform.log"

jobs:
  terraform-destroy:
    name: Terraform Destroy en Prod
    runs-on: ubuntu-latest
    environment: prod

    defaults:
      run:
        working-directory: terraform

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Terraform init
        run: terraform init -backend-config=../backends/prod.hcl

      - name: Terraform destroy (prod)
        run: terraform destroy -var-file=../environments/prod.tfvars -auto-approve

      - name: Upload destroy logs
        uses: actions/upload-artifact@v4
        with:
          name: terraform-destroy-logs-prod
          path: terraform/terraform.log
